<%- include('../partials/header') %>

<section id="show-page">
    <div>Airline: <%= flight.airline %></div>
    <div>Airport: <%= flight.airport %></div>
    <div>Flight Number: <%= flight.flightNo %></div>
    <div>Departing: <%= flight.departs %></div>
    <div><a href="/flights/<%= flight._id %>/edit">Edit</a></div>
</section>

<br><br><h2>Add New Destination</h2>
<form id="add-destination-form" method="POST" action="/flights/<%= flight._id %>/destinations">
    <label>Airport: </label>
    <select name="airport">
        <option value="AUS">AUS</option>
        <option value="DFW">DWF</option>
        <option value="DEN">DEN</option>   
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
    </select><br>
    <label>Arrival:</label>
    <input type="datetime-local" id="arrival" name="arrival"><br>
    <input type="submit" value="Add Destination">
</form><br><br>

<% if (flight.destinations.length) { %>
    <% flight.destinations.forEach(function(f) { %>
    <section>
        <div>Airport: <%= f.airport %></div>
        <div>Arrival: <%= f.arrival %></div>
        <div>

        </div>
    </section><br>
    <% }); %>
<% } else { %>
    <h5>No Destinations Yet</h5>
<% } %>

<br><br><h2>Add New Ticket</h2>
<form id="add-ticket-form" method="POST" action="/flights/<%= flight._id %>/tickets">
    <br><label>Seat:</label>&nbsp
    <input type="text" name="seat" required pattern="[A-F][1-9]\d?">
    <br><label>Price: </label>
    <input type="text" name="price">
    <br><input type="submit" value="Add Ticket">
</form><br><br>


<% if (flight.tickets.length) { %>
    <% flight.tickets.forEach(function(t) { %>
    <section>
        <div>Seat: <%= t.seat %></div>
        <div>Price: <%= t.price %></div>
        <div>Flight: <%= t.flightID %></div>
    </section><br>
    <% }); %>
<% } else { %>
    <h5>No Tickets Yet</h5>
<% } %>

<%- include('../partials/footer') %>